<html lang="fr">
<head>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<!-- <link rel="stylesheet" href="/css/bootstrap-responsive.css" /> -->
	<link rel="stylesheet" href="/css/style_new.css">	
</head>

<body class="login">
	<div class="well box container">
		    <legend>ERREUR !</legend>
			<div class="alert alert-error" id="iderrormsg"> {{ error }}</div>
			<a href="/">cashattitude</a>
	</div>	
</body>
