<div class="pull-right">
	<span style="font-size:40px">{{exercice.code}}</span><br/>
<span class="pull-right">{{exercice.niveau}}</span>
</div>
<h1>{{exercice.nom | upper }}</h1>
<hr>
<p>
<b>VALEUR PRINCIPALE</b> : {{exercice.valeur}}<br><br>
{% if exercice.objectif!="" %}
<b>OBJECTIF PRINCIPAL</b> : {{exercice.objectif}}<br><br>
{% endif %}
<b>DESCRIPTIF</b> : {{exercice.descriptif}}<br><br>
{% if exercice.note!="" %}
<b>NOTE</b> : <span style="color:#666"><i>{{exercice.note}}</i></span>
{% endif %}

<div style="width:250px;  float:left; margin:5px" class="well">
<b>VALEURS SECONDAIRES</b><hr>
<input type="checkbox" {%if exercice.confiance==1 %}checked{% endif %} disabled> confiance<br/>
<input type="checkbox" {%if exercice.ecoute==1 %}checked{% endif %} disabled> écoute<br/>
<input type="checkbox" {%if exercice.synchro==1 %}checked{% endif %} disabled> synchronisation<br/>
<input type="checkbox" {%if exercice.cohesion==1 %}checked{% endif %} disabled> cohésion de groupe<br/>
<input type="checkbox" {%if exercice.affirmation==1 %}checked{% endif %} disabled> affirmation de soi<br/>
<input type="checkbox" {%if exercice.lead==1 %}checked{% endif %} disabled> lead<br/>
<input type="checkbox" {%if exercice.relationnel==1 %}checked{% endif %} disabled> relationnel<br/>
<input type="checkbox" {%if exercice.energie==1 %}checked{% endif %} disabled> énergie<br/>
<input type="checkbox" {%if exercice.lacherprise==1 %}checked{% endif %} disabled> lâcher prise<br/>
<input type="checkbox" {%if exercice.posture==1 %}checked{% endif %} disabled> posture<br/>
<input type="checkbox" {%if exercice.authenticite==1 %}checked{% endif %} disabled> authenticité<br/>
<input type="checkbox" {%if exercice.concentration==1 %}checked{% endif %} disabled> concentration<br/>
</div>
<div style="width:250px; float:left; margin:5px" class="well">
<b>OBJECTIFS</b><hr>
<input type="checkbox" {%if exercice.assumer!="" %}checked{% endif %} disabled> assumer<br/>
<input type="checkbox" {%if exercice.communiquer !="" %}checked{% endif %} disabled> communiquer<br/>
<input type="checkbox" {%if exercice.lien!="" %}checked{% endif %} disabled> créer du lien<br/>
<input type="checkbox" {%if exercice.alliance!="" %}checked{% endif %} disabled> créer des alliances<br/>
<input type="checkbox" {%if exercice.conflit!="" %}checked{% endif %} disabled> gérer les conflits<br/>
<input type="checkbox" {%if exercice.inconfort!="" %}checked{% endif %} disabled> gérer l'inconfort<br/>
<input type="checkbox" {%if exercice.nonverbal!="" %}checked{% endif %} disabled> non verbal<br/>
<input type="checkbox" {%if exercice.corps!="" %}checked{% endif %} disabled> engager son corps<br/>
<input type="checkbox" {%if exercice.message!="" %}checked{% endif %} disabled> faire passer son msg<br/>
<input type="checkbox" {%if exercice.reactivite!="" %}checked{% endif %} disabled> réactivité<br/>
<input type="checkbox" {%if exercice.parole!="" %}checked{% endif %} disabled> prise de parôle<br/>
<input type="checkbox" {%if exercice.stress!="" %}checked{% endif %} disabled> gestion du stress<br/>
</div>
