<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/casha.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#000; margin:20px">
           <div class='container well' style='background-color:#FFF; font: 12px sans-serif;'>
               <div class='row'>
                   <div class='span12'>
		         <div class="well col-md-6 col-md-offset-3">
			      {{ content | raw }}
		         </div>
                        <a class='btn btn-mini btn-success' href='edit/{{id}}'>EDITER</a>
                        <a class='btn btn-mini btn-success' href='add'>AJOUTER</a>
                        <a class='btn btn-mini btn-danger' href='del/{{id}}'>SUPPRIMER</a>
                   </div>
                </div>
             </div>
</body>
</html>
