<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/casha.css" rel="stylesheet" type="text/css">
	<link href="../css/dc.css" rel="stylesheet" type="text/css">
	
	<style>
	.dc-chart g.row text {
		fill:#666;
	}
	</style>
		
	<script src="../js/jquery.js"></script>
	<script src="../js/d3.js"></script>
	<script src="../js/dc.js"></script>
	<script src="../js/crossfilter.js"></script>
	<script>
		function print_filter(filter){
			var f=eval(filter);
			if (typeof(f.length) != "undefined") {}else{}
			if (typeof(f.top) != "undefined") {f=f.top(Infinity);}else{}
			if (typeof(f.dimension) != "undefined") {f=f.dimension(function(d) { return "";}).top(Infinity);}else{}
			console.log(filter+"("+f.length+") = "+JSON.stringify(f).replace("[","[\n\t").replace(/}\,/g,"},\n\t").replace("]","\n]"));
		}
		var dataTable
		var data
		var exos
		var d_confiance
		var d_ecoute
		var d_synchro
		var d_cohesion
		var all
		var valeurChart
		
		$(function () {
			$.post("all", function(ret) {
				 data = JSON.parse(ret)

				 exos = crossfilter(data);
				 all = exos.groupAll();
				
				 d_confiance = exos.dimension(function(d) { return d.confiance })
				d_ecoute = exos.dimension(function(d) { return d.ecoute })
				d_synchro = exos.dimension(function(d) { return d.synchro })
				d_cohesion = exos.dimension(function(d) { return d.cohesion })
				
				// ROWCHART CANEVAS
				var canevas = exos.dimension(function (d) { return d.canevas });
			    var canevasGroup = canevas.group();
			
				valeurChart = dc.rowChart("#canevas-chart")
				valeurChart.width(140)
			        .height(300)
			        .margins({top: 20, left: 10, right: 10, bottom: 20})
			        .group(canevasGroup)
			        .dimension(canevas)
			        // assign colors to each value in the x scale domain
			        //.ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
			        .label(function (d) {
			            return d.key;
			        })
			        .elasticX(true)
			        .xAxis().ticks(4);

					// ROWCHART VALEURS
					var valeur = exos.dimension(function (d) { return d.valeur });
				    var valeurGroup = valeur.group();

					valeurChart = dc.rowChart("#valeur-chart")
					valeurChart.width(200)
				        .height(300)
				        .margins({top: 20, left: 10, right: 10, bottom: 20})
				        .group(valeurGroup)
				        .dimension(valeur)
				        // assign colors to each value in the x scale domain
				        //.ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
				        .label(function (d) {
				            return d.key;
				        })
				        .elasticX(true)
				        .xAxis().ticks(4);
							
				//DATACOUNT
				dc.dataCount(".dc-data-count")
				        .dimension(exos)
						.group(all)
						
				// DATATABLE
			   dataTable = dc.dataTable("#id-dcexos");

			  // Create dataTable dimension
			  var idDimension = exos.dimension(function (d) { return d.id; });
			
			  dataTable.width(960).height(800)
			    .dimension(idDimension)
			    .group(function(d) { return "EXERCICES" }) //return d.nom.substr(0,1) })
			    .size(100)
			    .columns([
			      function(d) { return "<a href='../exercice/"+d.id+"'>"+d.id+"</a>"; },
			      function(d) { return d.nom; },
			      function(d) { return d.code; },
			      function(d) { return d.canevas; },
			      function(d) { return d.valeur; },
			      function(d) { return d.confiance},
			      function(d) { return d.ecoute},
			      function(d) { return d.synchro},
			      function(d) { return d.cohesion}
			    ])
			    .sortBy(function(d){ return d.nom; })
			    .order(d3.ascending);
			
				dc.renderAll();
			
			})
		})
		
		
		
		function filter()
		{
			
			d_confiance.filter( $('#idcbconfiance').is(':checked')?1:null); 
			d_ecoute.filter( $('#idcbecoute').is(':checked')?1:null)
			d_synchro.filter( $('#idcbsynchro').is(':checked')?1:null); 
			d_cohesion.filter( $('#idcbcohesion').is(':checked')?1:null)
						
			dc.renderAll()


		}
		
		function rem()
		{
			dc.filterAll();
			dc.renderAll();
		}
	</script>
</head>
<body style="background-color:#000; margin:20px">
	<div class="row">
	<div class="dc-data-count pull-right" style="margin:0px">
        <span class="filter-count"></span> sélectionnés sur <span class="total-count"></span> exercices
    </div>
    <!--div id="valeur-chart">
        <strong>Valeur principale</strong>
        <a class="reset" href="javascript:valeurChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
	</div-->
	<div class="row">
			<div class='container well' style='font: 12px sans-serif;'>
			  <div class='row'>
			    <div class='span12'>
			      <table class='table table-hover' id='id-dcexos'>
			        <thead>
			          <tr class='header'>
			            <th onmousedown="dataTable.sortBy(function(d){ return parseInt(d.id); }).order(d3.ascending); dataTable.render()">ID</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.nom; }).order(d3.ascending); dataTable.render()">NOM</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.code; }).order(d3.ascending); dataTable.render()">CODE</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.canevas; }).order(d3.ascending); dataTable.render()"><div id="canevas-chart" class="well"></div><br>CANEVAS</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.valeur; }).order(d3.descending); dataTable.render()"><div id="valeur-chart" class="well"></div><br>VALEUR PRINCIPALE</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.confiance; }).order(d3.descending); dataTable.render()"><input id="idcbconfiance" type="checkbox" onchange="filter()">&nbsp;confiance</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.ecoute; }).order(d3.descending); dataTable.render()"><input id="idcbecoute" type="checkbox" onchange="filter()">&nbsp;ecoute</th>
						<th onmousedown="dataTable.sortBy(function(d){ return d.synchro; }).order(d3.descending); dataTable.render()"><input id="idcbsynchro" type="checkbox" onchange="filter()">&nbsp;synchro</th>
			            <th onmousedown="dataTable.sortBy(function(d){ return d.cohesion; }).order(d3.descending); dataTable.render()"><input id="idcbcohesion" type="checkbox" onchange="filter()">&nbsp;cohesion</th>
			          </tr>
			        </thead>
			      </table>
			    </div>
			  </div>
			</div>
	</div>
</body>



</html>
