<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/casha.css" rel="stylesheet" type="text/css">
	<script src="/js/jquery.js"></script>
	<script>
		$(function()
		{

		}
	</script>
</head>

<body style="background-color:#fc0; margin:20px">
	<div class="row">
		<div class="well col-md-6 col-md-offset-3">
			<form id="idforminfos" class="form-horizontal" method="post" {{ form_enctype(form) }} accept-charset="utf-8" >
				{{ form_widget(form) }}
			</form>
			<a class="btn btn-mini btn-success" href="#" onclick="$('#idforminfos').submit()" >ENREGISTRER</a>
			<a class="btn btn-mini btn-danger" href="/exercice/{{id}}"  >ANNULER</a>
		</div>
	</div>
</body>
</html>