{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value | raw }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
    <div class="textarea_widget">
        <textarea style="width:80%; height:300px;"  {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_label(
            child,
            null,
            {
                'in_choice_list': true,
                'widget'        : form_widget(child),
                'multiple'      : multiple,
            }
        ) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date, { 'datetime': true } ) }}&nbsp;
            {{ form_widget(form.time, { 'datetime': true } ) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}


{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% if datetime is not defined or false == datetime %}
        <div {{ block('widget_container_attributes') }}>
        {% endif %}   
			<input type="text" {{ block('widget_attributes') }} placeholder="jj/mm/aa" style="width:90px" class="date" value ="{{form.vars.data|date('Y-m-d')}}">&nbsp;
        {% if datetime is not defined or false == datetime %}
        </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% if datetime is not defined or false == datetime %}
        <div {{ block('widget_container_attributes') }}>
        {% endif %}
			<input type="text" {{ block('widget_attributes') }} placeholder="hh:mm" style="width:45px" class="hour" value ="{{form.vars.data|date('H:i')}}">
        {% if datetime is not defined or false == datetime %}
        </div>
        {% endif %}

    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block money_widget %}
{% spaceless %}
    {% set append = '{{' == money_pattern[0:2] %}
    <div class="{{ append ? 'input-append' : 'input-prepend' }}">
        {% if not append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
    </div>

{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="input-append">
        {{ block('form_widget_simple') }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% if in_choice_list is defined and in_choice_list and widget is defined %}
        {% if multiple is defined and multiple %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox')|trim}) %}
        {% elseif multiple is defined and not multiple %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' radio')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ widget|raw }}
            <span>
                {{ label| trans({}, translation_domain) }}
            </span>
        </label>
    {% else %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label | trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Rows TODO = http://stackoverflow.com/questions/10043251/how-to-add-a-css-class-on-a-form-row-in-twig-template #}

{% block form_row %}
{% spaceless %}
    <div class="control-group{% if 0 < form_errors(form)|length %} error{% endif %}">
        {{ form_label(form, label | default(null)) }}
        <div class="controls" style="width:80%">
            {{ form_widget(form , { 'attr' : { 'style' : 'width:80%' } } ) }}
            {% if not compound %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% if form.parent %}<span class="help-inline">{% endif %}
        <ul>
            {% for error in errors %}
                <li>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</li>
            {% endfor %}
        </ul>
    {% if form.parent %}</span>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# Support #}

{% block form_rows %}
{% spaceless %}
    {% if not form.parent and 0 < form_errors(form)|length %}
        <div class="alert alert-error error" >
            {{ form_errors(form) }}
        </div>
    {% else %}
        {{ form_errors(form) }}
    {% endif %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}
